* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(47, 213, 255);
    position: relative;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Isi */
main {
    position: absolute;
    height: 92vh;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.8);
    top: 25px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
}

main .logo {
    padding-top: 33px;
    padding-left: 20px;
    float: left;
}

main ul li {
    list-style: none;
    padding-top: 40px;
    padding-left: 25px;
    float: left;
    text-decoration: none;
    font-weight: bold;
}



ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #131203;
}



ul li a:hover {
  color: #0e0d00;
  text-shadow: 0 0 5px #080800;
}

main span {
    color: red;
}

a {
    text-decoration: none;
    color: black;
}

/* Bola-bola */
.bola1 {
    background-color: red;
    border-radius: 50%;
    top: 400px;
    left: 80px;
    position: absolute;
    animation: animasiBola 2.5s ease 1000 alternate forwards;
}


.bola2 {
    background-color: rgb(76, 0, 255);
    border-radius: 50%;
    top: 80px;
    left: 80px;
    position: absolute;
    animation: animasiBolaDua 3.5s ease 1000 alternate forwards;
}

.bola3 {
    background-color: rgb(255, 0, 179);
    border-radius: 50%;
    top: 300px;
    left: 250px;
    position: absolute;
    animation: animasiBolaTiga 3s ease 1000 alternate forwards;
}


.bola4 {
    background-color: rgb(186, 233, 18);
    border-radius: 50%;
    top: 100px;
    left: 390px;
    position: absolute;
    animation: animasiBolaEmpat 3s ease 1000 alternate forwards;
}


.bola5 {
    background-color: rgb(70, 248, 0);
    border-radius: 50%;
    top: 50px;
    right: 500px;
    position: absolute;
    animation: animasiBolaLima 3s ease 1000 alternate forwards;
}

.bola6 {
    background-color: rgb(255, 153, 0);
    border-radius: 50%;
    top: 400px;
    left: 490px;
    position: absolute;
    animation: animasiBolaLima 2.3s ease 1000 alternate forwards;
}

.bola7 {
    background-color: rgb(11, 12, 11);
    border-radius: 50%;
    top: 500px;
    right: 120px;
    position: absolute;
    animation: animasiBolaEmpat 4s ease 1000 alternate forwards;
}

.bola8 {
    background-color: rgb(27, 125, 216);
    border-radius: 50%;
    top: 350px;
    right: 500px;
    position: absolute;
    animation: animasiBolaEnam 3.5s ease 1000 alternate forwards;
}

.bola9 {
    background-color: rgb(134, 6, 173);
    border-radius: 50%;
    top: 50px;
    right: 170px;
    position: absolute;
    animation: animasiBolaEnam 2.3s ease 1000 alternate forwards;
}

/* Foto */
.foto {
    border: 5px lightblue solid;
    width: 200px;
    border-radius: 25%;
    margin-left: 150px;
    margin-top: -25px;
    display: none;
}

 .foto:hover {
    transform: scale(1.1);
}

.contact {
    margin-bottom: 500px;
}



/* Contact */
.kotak {
    background-color: rgba(255, 255, 255, 0);
    height: 400px;
    width: 600px;
    border-radius: 25px;
}

.kotak1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.kotak ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kotak li {
  list-style: none;
  margin: 0 15px;
}

.kotak li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
  margin-bottom: 20px;
  margin-left: -300px;
  top: -80px;
}

.kotak li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.kotak li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.kotak li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.kotak a h3{
    position: relative;
    top: -140px;
    left: -200px;
}

.kotak h3:hover {
    transform: scale(1.01);
}


/* Animasi */
@keyframes animasiBola {
    0% {
        width: 0rem;
        height: 0rem;
    }

    100% {
        width: 15rem;
        height: 15rem;
    }
}

@keyframes animasiBolaDua {
    0% {
        width: 0rem;
        height: 0rem;
    }

    100% {
        width: 10rem;
        height: 10rem;
    }
}

@keyframes animasiBolaTiga {
    0% {
        width: 0rem;
        height: 0rem;
    }

    100% {
        width: 5rem;
        height: 5rem;
    }
}

@keyframes animasiBolaEmpat {
    0% {
        width: 0rem;
        height: 0rem;
    }

    100% {
        width: 13rem;
        height: 13rem;
    }
}

@keyframes animasiBolaLima {
    0% {
        width: 0rem;
        height: 0rem;
    }

    100% {
        width: 9rem;
        height: 9rem;
    }
}

@keyframes animasiBolaEnam {
    0% {
        width: 0rem;
        height: 0rem;
    }

    100% {
        width: 10rem;
        height: 10rem;
    }
}

/* Responsive breakpoints */
@media screen and (max-width: 576px){

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .bola1 {
        animation: animasiBolaLima 2.5s ease 1000 alternate forwards;
        top: 500px;
    }

    .bola2 {
        top: 170px;
    }

    .bola4,
    .bola5,
    .bola7,
    .bola8,
    .bola9 {
        display: none;
    }

    .bola6 {
        left: 200px;
        animation: animasiBolaLima 4s ease 1000 alternate forwards;

    }

    .foto {
        position: absolute;
        top: 30px;
        right: 50px;
        width: 75px;
        display: inherit;
    }

    .biodata {
        margin-top: 50px;
    }

    main .ul {
        margin: auto;
    }

    .kotak li a{
        margin-top: 5px;
        margin-left: -100px;
    }

    .kotak h3 {
        margin-bottom: 10px;
        margin-top: 120px;
        font-size: 15px;
        margin-left: 160px;
    }

    .kotak {
        margin-bottom: 100px;
        margin-top: 150px;
    }

    .fb,
    .ig,
    .github,
    .dc {
        display: flex;
        align-items: center;
        margin-left: 220px;
        margin-top: -50px;
    }

}